*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.about{
    padding: 80px 0px;
}
.container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}
.img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.about h1{
    font-size: 55px;
    margin-bottom: 30px;
    color: #333;
}
.about h3{
    font-size: 35px;
    color: #888;
    margin-bottom: 10px;
}
.about p{
    font-size: 20px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 25px;
}
.link{
    margin-bottom:30px;
}
.link a{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.4s ease;
}
.link a:hover{
    transform: translateY(-5px);
}
.button{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px ;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    background-color:black;
    box-shadow: 0px 4px 6px;
    transition: all 0.4s ease;
}
.button:hover{
    transform: translateY(-5px);
}
@media (max-width:768px){
    .row{
        flex-direction: column;
        text-align: center;
    }
    .flex{
         flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
    }
    .about h1{
        font-size: 60px;
    }
    .about h3{
        font-size: 28px;
    }
    .about p{
        line-height: 1.2;
    }
    .link a{
        width: 30px;
        height: 30px;
        line-height: 20px;
        font-size: 12px;
        margin-right: 5px;
    }
    .button{
        font-size: 16px;
        padding: 8px 16px;
        margin-bottom: 30px;
    }
    
}
.para{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
.butt{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 20px ;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0px 4px 6px;
    transition: all 0.4s ease;
}
.butt:hover{
    transform: translateY(-5px);
}

.stat-box {
    text-align: center;
}

.stat-box h2 {
    font-size: 40px;
    font-weight: 700;
}

.stat-box p {
    font-size: 16px;
    color: gray;
}

.border-line {
    border-left: 3px solid black;
    padding-left: 20px;
}
@media (max-width:768px){

    .para{
        font-size: 28px;
    }

    .stat-box h2{
        font-size: 28px;
    }

    .border-line{
        border-left: none;
        border-top: 2px solid black;
        padding-top: 20px;
        padding-left: 0;
        margin-top: 20px;
    }

    .butt{
        margin: 20px auto;
        display: block;
    }

}
                                                        
@media (max-width:600px){

    .about h1{
        font-size: 60px;
    }
    .about h3{
        font-size: 28px;
    }
}